<% if logged_in? %>

  <div class="row">
    <div class="col-sm-8">
      <%= render 'plans/plan_abstract', plans: @plans ,call_from: "index"%>
    </div>
  </div>
<% else %>


    <div class="text-center p-5" id="toppage_all">
      <div class="" id="toppage">
        <h1 class ="p-5">夢旅</h1>
      </div>
      <div class="" id="toppage_button p-5">
        <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
        <h1 class ="p-5"></h1>
      </div>
  </div>
<% end %>