<div class="mb-1">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :destination ,placeholder: "最終目的地"%>
        <%= f.submit "検索"%>
    <% end %>
</div>
<%= render "plan_abstract", plans: @plans, call_from: "search" %>
